.main-dash{ /*first*/
  display: grid;
  min-width: 100vw;
  height: 100vh;
  position: fixed;
  place-items: center; 
  padding: 2rem;
  background: rgb(31, 21, 21);
}

.summary{
  width: 50rem;
  display: grid;
  place-content: center; 
}
.summary-group-cont{
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  
}
.summary-group-item{
  background: purple;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
}


.main-section-cont{ /*second*/
  margin-top: -9rem;
  max-width: 40rem;
  overflow: auto;
}

.dash-heading-data1,
.dash-value-data1
{
  min-width: 8rem;
}
.dash-heading-data2
.dash-heading-data3,
.dash-heading-data4,
.dash-heading-data5,
.dash-heading-data6,
.dash-heading-data7,
.dash-value-data2,
.dash-value-data3,
.dash-value-data4,
.dash-value-data5,
.dash-value-data6,
.dash-value-data7{
  min-width: 8rem;
}
.dash-heading-data1,
.dash-heading-data2,
.dash-heading-data3,
.dash-heading-data4,
.dash-heading-data5,
.dash-heading-data6,
.dash-heading-data7{
  background: blue;
  padding:0.5rem;
}






.dash-button{
  padding: 0.8rem 3rem; 
  font-size: 1.2rem;  
  font-weight: 500;
  border: none;
  background: purple;
  color: white;
  border-radius: 0.2rem;
}