#dashboardContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  
}
#dashboardContainer >main{
  width: fit-content;
  height: fit-content;
  background: white;
  box-shadow: 0.1rem 0.1rem 0.1rem 0rem gray;
  padding:1rem;
}

.add-transaction{
  background: rgba(131, 10, 131);
  font-weight:  550;  
  font-size: 15px; 
  border: none;
}
.disabled{
  background: gray;
}
.paper-wrap {
  margin: 0rem 0rem 0rem 0.5rem;
  padding: 0.5rem;
}
.flexItem{
  display: flex;
  margin: 0rem 2.5rem 0rem 0rem;
}
.sentText, .stockText, .sentTotalText{
  font-weight: 700; 
  margin-left: 3.5rem;
}
.balanceTotalText{
  font-weight: 700; 
  margin-left: 2rem;
}
.receivedText{
  font-weight: 700; 
  margin-left: 2rem;
}
.receivedTotalText{
  font-weight: 700; 
  margin-left: 4rem;
}

.quantityIn{
  flex-basis:25% ;
  margin-left:3.5rem;  
  text-align:start ;
  color: blue; 
  font-weight:500;
}
.quantityOut{
  flex-basis:25% ;
  margin-left: 4rem;  
  text-align:start ;
  color: red; 
  font-weight:500;
}
.stock{
  flex-basis:25% ;
  margin-left: 3rem;  
  text-align:start ;
  font-weight:500;
}
.amountIn{
  flex-basis:25% ;
  margin-left: 4rem;  
  text-align:start ;
  color: blue; 
  font-weight:500;
}
.amountOut{
  flex-basis:25% ;
  margin-left: 4rem;  
  text-align:start ;
  color: red; 
  font-weight:500;
}
.balance{
  flex-basis:25% ;
  margin-left: 2.5rem;  
  text-align: end ;
  color: red; 
  font-weight:500;
}
#dashboard>div {
  overflow: auto;
  border: 1.4px solid gray;
  margin: 0rem 0rem 0rem 4rem;
  padding: 0.3rem 0rem 0.3rem 0rem;
}
.data {
  display: grid;
}
.sumDiv {
  width: 7rem;
  margin: 0.1rem 0.05rem 0rem 0rem;
  text-align: center
}

.itemDiv {
  width: 8rem
}

.itemDisplayDiv {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 25rem;
  margin: 1rem 0rem 0rem 2rem;
}
.sumContainer{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 2rem; 
  background-color: smokewhite
}

/*--MEDIA QUERY 1024PX-- */
@media screen and (max-width: 1024px) {
  #dashboardContainer >main{
    max-width: 90%;
    overflow: hidden;
    margin-top: 1rem;
  }
  .data {
    max-width: 90%;
    overflow:auto;
  } 
  
  .add-transaction{
    margin-top: 1rem;
    margin-left: 8rem;
    width: 25%;
  }
  .paper-wrap {
    width: 100%;
    padding: 1rem 0rem 0.3rem 0rem;
  }
}

/* -- MEDIA QUERY 620PX-- */
@media screen and (max-width: 620px) {
  #dashboardContainer >main{
    max-width: 90%;
  }
  .data {
    max-width: 60%;
    overflow: auto
  }
  .add-transaction{
    width: 30%;
    margin-left: 0.5rem;
    padding: 1rem; 
  }
  .paper-wrap {
    width: 100%;
    padding: 1rem 0rem 0.3rem 0rem;
  }
  .sumContainer{
    display: flex;
    width: 80%;
  }
  
}

@media screen and (max-width: 420px) {
  #dashboardContainer >main{
    max-width: 88%;
    overflow: hidden;
    margin-top: 1rem;
  }

  .data {
    display: grid;
    max-width: 20%;
    overflow: auto
  }
  p{
    display:flex;
  }
  .add-transaction{
    width: 40%;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    padding: 1rem; 
  }
  .paper-wrap {
    width: 55rem;
    margin: 0rem -2rem 0rem 0.5rem;
    padding: 1rem 0rem 0.3rem 0rem;
  }
  .sumContainer{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 33%;
  }

}
@media screen and (max-width: 390px) {
  .sumContainer{
    width: 29%;
  }

}
@media screen and (max-width: 360px) {
  .sumContainer{
    width: 27%;
    gap:0.1rem;
  }

}