.list-cont{
    display: flex;
    justify-content: center;
    width: 100%; 
}
.list-paper{
     width:100%;
     border: none;
     box-shadow:2px 2px 2px 0px gray; 
     background: white; 
     align-items:center ; 
}
.list-title{
    display: flex;  
    gap: 0.6rem;   
    padding: 1rem 2rem;  
    font-size: 1.3rem;  
    font-weight: 700;  
    background: blue;  
    color: white; 
}

@media screen and (max-width:1024px){    
    .list-paper{
        max-width: 70%;
        overflow: auto;
   }
   .list-title{
    width: 121%;
}
}
@media screen and (max-width:600px){    
    .list-paper{
        max-width: 60%;
        overflow: auto;
   }
   .list-title{
    width: 150%;
}
}