
.welcome-main, 
.welcome-section, 
.welcome-text-cont,
.welcome-text{
    width: 100%;
    min-height: 100vh;
    /* background: black; */
    background: rgb(31, 21, 21);
}

.welcome-main,
.welcome-section
{
    display: grid;
    width: 100vw;
    place-content : center;
}

.welcome-text{
    color: white;
    text-align: center; 
}
.welcome-text-cont{
    padding-bottom: 2rem;
}
.welcome-dash-cont{
    place-items: center;
    /* overflow: auto; */
}