
.welcome-main{
    justify-content: center;
    width: 100%;
    padding: 1.5rem;
    background: black;
    height: 100%;
}
.welcome-text-cont{
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    color: white;
}