.welcome_main{
    margin: 1.7rem 0rem 1rem 13rem;
    width: 80rem;
}
.inventory_text{
  margin: 0rem 0rem 0.5rem 2rem  
}
.welcome_text{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 17rem;
    color: black; 
    font-size: 17px;
    font-weight: 500;
}

@media screen and (max-width: 1024px){
    .welcome_main{
        margin: 6rem 0rem 1rem 0.5rem;
        width: 98%;
    }
    .welcome_text{
        text-align: center;
        margin: 1rem 0rem;
    }
    
}
@media screen and (max-width: 620px){
    .welcome_main{
        margin: 6rem 0rem 1rem 0.5rem;
        width: 95%;
    }
    .welcome_text{
        text-align: center;
        margin: 1rem 0rem;
    }
}