#detailContainer{
    margin: 4.2rem 0rem 0rem 12rem;
    display: flex;
    height: 100%;
    width: 100%;
    padding-bottom: 20rem;
    position: fixed;
}
.backButton{
    width: 18rem; 
    padding: 0.7rem; 
    font-size:1.4rem; 
    border-radius:0.3rem ;
    border: 1px solid transparent;
    color:white;
    background: linear-gradient(to bottom right, brown , blue);
}

@media screen and (max-width:1024px){
    #detailContainer{
        flex-direction : column;
        margin: 4.2rem 0rem 0rem 0rem;
        position: relative;
        height: fit-content;
    }
}
