#detailContainer{
    margin-top: 4.5rem;
    display: flex;
    height: 100%;
    width: 100%;
    padding-bottom: 20rem;
}

@media screen and (max-width:600px){
    #detailContainer{
        flex-direction : column;
        
    }
}