#detailContainer{
    margin: 5.5rem 0rem 0rem 12rem;
    display: flex;
    height: 100%;
    width: 97%;
    position: fixed;
}
.noSimilarRecord{
    color: rgb(245, 236, 236);
    width: 80%;
    padding: 2rem;
    border:  1px solid gray;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: rgb(110, 84, 84);
    text-align:  center;
    box-shadow: 0rem 0.5px 0.5rem 0rem gray;
}
.backButton{
    width: 18rem; 
    padding: 0.7rem; 
    font-size:1.4rem; 
    border-radius:0.3rem ;
    border: 1px solid transparent;
    color:white;
    background: linear-gradient(to bottom right, brown , blue);
}
.listContainer{
  padding: 1rem 1rem 2rem 0.6rem; 
  width: 100%; 
}

@media screen and (max-width:830px){
    #detailContainer{
        flex-direction : column;
        margin: 5rem 0rem 0rem 0rem;
        position: relative;
    }
    .listContainer{
        width: 90%;
        margin: 0rem 0rem 0rem 1rem 
      }
      
}

@media screen and (max-width:620px){
   
    .noSimilarRecord{
        width: 92%;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 0.5rem;
        text-align:  center;
    }

}
@media screen and (max-width:420px){
   #detailContainer{
    margin: 4.5rem 0rem 0rem 0rem;
   }
    .noSimilarRecord{
        width: 92%;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 0.5rem;
        text-align:  center;
        box-shadow: 0rem 0.5px 0.5rem 0rem gray;
    }
    .listContainer{
        width: 100%;
        margin-left: 0.3rem; 
      }

}
