#mainContainer {
  margin: 4rem 1rem 0rem 1rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
}
#mainContainer > div {
  width: 100%;
}

@media screen and (max-width: 620px) {
  #mainContainer {
    margin: 3.5rem 0rem 0rem 0rem;
    height: 100%;
    width: 100%;
  }
  #mainContainer > div {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

/* @media screen and (max-width: 420px) {
  #mainContainer {
    margin: 3.5rem 0rem 0rem 0rem;
    height: 100%;
    width: 100%;
  }
  #mainContainer > div {
    overflow: auto;
  }
} */
