#mainContainer {
  margin: 0.5rem 1rem 0rem 1rem;
  padding-bottom: 2rem;
}
#mainContainer > div {
  width: 60rem;
}

@media screen and (max-width: 620px) {
  #mainContainer {
    margin: 0.5rem 0rem 0rem 0.3rem;
  }
  #mainContainer > div {
    max-width: 355px;
    overflow: auto;
  }
}
