#navContainer >div{
    height: 3.5rem;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    justify-content: center;
    opacity: 0.8;
    box-shadow: 0px 1px 0.4rem 0.2px gray;
    border: 1px solid gray;
}
#navContainer{
    position: fixed;
    width: 100%;
    background: linear-gradient(brown, black);
    z-index: 300;
}
.menuIcon{
    margin:0.5rem 0rem 0rem 1.5rem;
    width:2.5rem ;
    height:2rem;
}
.inventoryControl{
    flex-basis: 50%; 
    color: white;
    margin: 0.2rem 0rem 1rem 2rem; 
}
 .user{
    flex-basis: 2%;
    color: white;
    margin: 1rem 0rem 0rem 3rem;
}
.navInput{
    height: 2rem;
    width: 11rem;
    margin: 0.5rem 0rem 0rem 0rem; 
}


@media screen and (max-width:1024px){
    #navContainer {
        width: 100%
    }
    #navContainer >div{
        padding:0rem 0.5rem 0rem 0.5rem;
    }
    
    .user{
        flex-basis: 17%;
        margin: 0.2rem 0rem 0rem 1rem;
    }
    .navInput{
        height: 2rem;
        width: 6rem;
        margin-left: 3rem
    }
    .menuIcon{
        margin:0.5rem 0rem 0rem 0.5rem;
    }
    
}
@media screen and (max-width:620px){
    .inventoryControl{
        display: none;
    }    
}

@media screen and (max-width:420px){
    #navContainer {
        width: 100%
    }
    #navContainer >div{
        padding:0rem 0.5rem 0rem 0.5rem;
    }
    
    .inventoryControl{
        display: none;
    }
    .user{
        flex-basis: 17%;
        margin: 0.2rem 0rem 0rem 1rem;
    }
    .navInput{
        height: 2rem;
        width: 6rem;
        margin-left: 3rem
    }
    .menuIcon{
        margin:0.5rem 0rem 0rem 0.5rem;
    }
    
}

@media screen and (max-width:375px){
    #navContainer {
        width: 100%
    }
    .menuIcon{
        margin:0.5rem 0rem 0rem 0.5rem;
    }
    .inventoryControl{
        display: none;
    }
    .navInput{
        height: 2rem;
        width: 6rem;
        margin-left: 2rem
    }

}