#navContainer{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    background: rgb(6, 6, 92);
    z-index: 300;
}

#navContainer >div{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.inventoryControl{
    flex-basis: 50%; 
    color: white;
}
 .user{
    flex-basis: 2%;
    color: white;
}
.navSearch{
    height: 2rem;
    width: 11rem;
    border-radius: 0.1rem;
}


@media screen and (max-width:1024px){
    #navContainer {
        width: 100%
    }
    /* .user{
        flex-basis: 17%;
        margin: 1rem 0rem 0rem 1rem;
    } */
    /* .navSearch{
        height: 2rem;
        width: 6rem;
        margin-left: 3rem
    } */
    
}
@media screen and (max-width:620px){
    .inventoryControl{
        display: none;
    }    
}

@media screen and (max-width:420px){
    #navContainer {
        width: 100%
    }
    #navContainer >div{
        padding:0rem 0.5rem 0rem 0.5rem;
    }
    
    .inventoryControl{
        display: none;
    }
    .user{
        margin: 0rem 2rem 0rem 1rem;
    }
    .navSearch{
        width: 7rem;
        margin: 0rem 1rem 0rem 0rem;
    }
    
}

@media screen and (max-width:375px){
    #navContainer {
        width: 100%
    }
    .menuIcon{
        margin: 1.5rem 0rem 0rem 0.5rem;
    }
    .inventoryControl{
        display: none;
    }
    .navSearch{
        height: 2rem;
        width: 6rem;
        margin-left: 2rem;
        margin-right: 1rem;
    }

}