#sidebarContainer{
        width: 15rem; 
        margin:0rem 0rem 0rem 0rem;
        background:linear-gradient(blue, black);
        text-align: center;
        padding: 1rem;
        cursor:pointer
}

@media screen and (max-width:620px){
    #sidebarContainer{
        display: none
    }

}