.update{
    position: fixed; 
    top: 0;
    left:0; 
    bottom:0;
    display: grid;
    place-items:center;
    padding-top: 2rem;
    width:100%;
    height:100%;
    transition:2s ease in;
    background: rgba(0, 0, 0, 0.600);
}
.update-category-input{
  width: 9.5rem; 
  font-size: 1rem;
  /* border: none;  */
}
.update-category-map{
  width: 13.8rem; 
}  


@media screen and (max-width: 1024px){
  .update{
    padding: 2rem 0rem 0rem 0rem;
  }
  .update-category-input{
    width: 9.8rem; 
  }  
  .update-category-map{
    width: 13.8rem; 
  }  

}


@media screen and (max-width: 620px){
  .update-category-input{
    margin-left: 0.5rem;
    width: 9.2rem; 
  } 
  .update-category-map{
    width: 13.8rem; 
  }   
}


@media screen and (max-width: 375px){
  .update-category-input{
    margin-left: 0rem;
    width: 9.5rem; 
  }  
  .update-category-map{
    width: 13.8rem; 
  }  
}


