.list-cont{
    justify-content: center;
    background: gray;
    padding: 1rem 0.5rem;
}
.list-paper{
     border: none;
     box-shadow:2px 2px 2px 0px gray; 
     background: white; 
     align-items:center ; 
}
.list-title{
    display: flex;  
    gap: 0.3rem;   
    padding: 1rem 2rem;  
    font-size: 1.3rem;  
    font-weight: 700;  
    background: blue;  
    color: white; 
}
.list-map{
    display: flex;
    gap: 0.6rem; 
    border: 0.2px solid lightgray; 
    font-weight: 500; 
    color: black; 
    padding: 0.3rem 1rem; 
    align-items: center; 
}
.list-pagination{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    padding: 0.3rem 2rem;
    font-size: 1.2rem; 
    color: gray;
    background: white;
    
}
.main-list-cont{
  margin-top: 1rem; 
}

@media screen and (max-width:1024px){ 
    .main-list-cont{
        margin-top: 0.5rem; 
        padding: 0.5rem 0.5rem;

      }         
    .list-paper{
        max-width: 100%;
        overflow: auto;
   }
   .list-pagination{
    margin-top: -20rem;
   }
}
@media screen and (max-width:600px){    
    .list-paper{
        max-width: 99%;
        overflow: auto;
   }
   .list-title{
    width: 230%;
}
.list-map{
    width: fit-content;
}
.list-pagination{
    flex-direction: column;
    gap: 0.6rem;
    width: 82%;
    margin-top: -7rem;
}
}
@media screen and (max-width: 395px){    
.list-pagination{
    margin-top: -2rem;
}
}
@media screen and (max-width: 375px){    
.list-pagination{
    margin-top: 0rem;
}
}