.authContainer{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 4rem;
    margin-right: 1rem;
    padding: 1rem 0rem;
    justify-content: center;
}
.circularProgress{
    text-align: center; 
    align-items: center; 
    justify-content:center; 
    padding-top: 1rem;
}

@media screen and (max-width: 1024px){
    .authContainer{
        flex-direction: column-reverse;
<<<<<<< HEAD
        margin-top: 2rem;
=======
        margin-top: 5rem;
>>>>>>> 177e499 (refactor login)
        width: 99%;
        margin-left: 0.2rem;
        margin-right: 0rem;
    }
}
@media screen and (max-width: 420px){
    .authContainer{
<<<<<<< HEAD
        flex-direction: column-reverse;
        margin-top: 4.2rem;
=======
        flex-direction: column;
        margin-top: 7rem;
>>>>>>> 177e499 (refactor login)
        width: 99%;
        margin-left: 0.2rem;
        margin-right: 0rem;
    }
}